@page
@model petclinicFront.Pages.Duenos.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Eliminar registro</h1>

<h3>¿Realmente deseas eliminar este registro?</h3>
<div>
    <h4>Esta operación es irreversible.</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DuenosGrid.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DuenosGrid.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DuenosGrid.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DuenosGrid.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DuenosGrid.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DuenosGrid.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DuenosGrid.Ciudad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DuenosGrid.Ciudad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DuenosGrid.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DuenosGrid.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DuenosGrid.Mascotas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DuenosGrid.Mascotas)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="DuenosGrid.DuenoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Atrás</a>
    </form>
</div>
